In [ ]:
import os
import csv
import pandas as pd
import dask as dd

In [ ]:
#read the file:
#df = pd.read_csv("DECEMBER2022.csv")

ddf = dd.read_csv("data/*.csv")
data = ddf[["category","launched_at", "name", "state"]]

df = data.compute()


# Convert the 'date' column to datetime
df['launched_at'] = pd.to_datetime(df['launched_at'], unit='s')

# Create new columns 'month' and 'year' and assign the month and year of the date
df['month'] = df['launched_at'].dt.month
df['year'] = df['launched_at'].dt.year

# Group the DataFrame by the 'month' and 'year' columns
df_grouped = df.groupby(by=['year','month']).sum()
df_grouped

#iterate over the grouped dataframe and create separate dataframe
#for name, group in df_grouped:
#    print(name)
 #   print(group)