In [2]:
import os
import csv
import pandas as pd
import sqlite3
import sqlalchemy
import os
import fnmatch
import pandas as pd

In [3]:
#read the file:
df = pd.read_csv("DECEMBER2022.csv")

# Convert the 'date' column to datetime
df['launched_at'] = pd.to_datetime(df['launched_at'], unit='s')

# Create new columns 'month' and 'year' and assign the month and year of the date
df['month'] = df['launched_at'].dt.month
df['year'] = df['launched_at'].dt.year

# Group the DataFrame by the 'month' and 'year' columns
df_grouped = df.groupby(by=['year','month']).sum()
df_grouped

#iterate over the grouped dataframe and create separate dataframe
#for name, group in df_grouped:
#    print(name)
 #   print(group)

/var/folders/nz/ydkf4wnd2s54fpsz2lvzrtpr0000gn/T/ipykernel_30812/1120444701.py:12: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped = df.groupby(by=['year','month']).sum()

            backers_count  converted_pledged_amount    created_at  \
year month
1970 1                  0                       0.0  188320489166
2009 12                21                    2000.0    1259796079
2010 4                 39                    1945.0    1270741888
     5                101                    4806.0    1272808056
     7                 51                    1561.0    2559069284
...                   ...                       ...           ...
2022 8               5359                  406526.0   54677294788
     9               5069                  446305.0   52871438629
     10             21172                 2547347.0   86438023430
     11             35727                 4779765.0  308721317430
     12              5456                  933770.0  164563204978

            currency_trailing_code      deadline  disable_communication  \
year month
1970 1                          89   29287994700                      0
2009 12                          1    1267572060                      0
2010 4                           1    1275321540                      0
     5                           1    1275407940                      0
     7                           2    2568358680                      0
...                            ...           ...                    ...
2022 8                          25   54899477947                      0
     9                          22   53322176169                      0
     10                         42   86823367847                      0
     11                        132  311010755038                      0
     12                         72  165684600637                      0

               fx_rate     goal            id  is_starrable      pledged  \
year month
1970 1      106.597290   249099  112414215571           116         0.00
2009 12       1.000000     2000    1885167392             0      2000.00
2010 4        1.000000     1500    1673627837             0      1945.00
     5        1.000000     3000     857307681             0      4806.00
     7        2.000000      800     360416753             0      1561.00
...                ...      ...           ...           ...          ...
2022 8       28.099358   333572   38763019845             0    442715.23
     9       29.164109   692700   31452367109             0   2011807.50
     10      48.792081  1009861   59883020117            16   4024512.27
     11     152.623952  7339781  189495587115           162  17446074.23
     12      80.256863  5304616  115374048929            97   5154056.34

            spotlight  staff_pick  state_changed_at  static_usd_rate  \
year month
1970 1              0           1      189049622429         0.000000
2009 12             1           0        1267572608         1.000000
2010 4              1           0        1275321615         1.000000
     5              1           0        1275408037         1.000000
     7              2           0        2568358855         2.000000
...               ...         ...               ...              ...
2022 8             23           7       54894530977        27.855225
     9             28           7       53322176193        28.269109
     10            31          11       86740781542        47.810029
     11            14          26      310432203404       150.959966
     12             0           8      165380143065        79.938211

            usd_exchange_rate   usd_pledged
year month
1970 1               0.000000  0.000000e+00
2009 12              1.000000  2.000000e+03
2010 4               1.000000  1.945000e+03
     5               1.000000  4.806000e+03
     7               2.000000  1.561000e+03
...                       ...           ...
2022 8              27.415667  4.217462e+05
     9              28.353666  4.442253e+05
     10             48.411049  2.526301e+06
     11            152.568004  4.738376e+06
     12             80.256863  9.316992e+05

[140 rows x 17 columns]