In [14]:
import os
import csv
import pandas as pd
import re
from dask import dataframe as dd

In [15]:
#Regex for finding category name
def categoryName(text):
    #text = '{"id":292,"name":"Comedy","analytics_name":"Comedy","slug":"film & video/comedy","position":3,"parent_id":11,"parent_name":"Film & Video","color":16734574,"urls":{"web":{"discover":"http://www.kickstarter.com/discover/categories/film%20&%20video/comedy"}}}'
    r = re.search("([A-Z])\w+", text)
    return r.group(0)

In [22]:
#read the file:
#df = pd.read_csv("DECEMBER2022.csv")

ddf = dd.read_csv("data/*.csv")
data = ddf[["category","launched_at", "name", "state"]]

df = data.compute()

# Convert the 'date' column to datetime
df['launched_at'] = pd.to_datetime(df['launched_at'], unit='s')

df['month'] = df['launched_at'].dt.month
df['year'] = df['launched_at'].dt.year

#make indices again:
df.set_index(['year','month'], inplace=True)

df['category'] = df['category'].map(lambda x: categoryName(x))

df

#iterate over the grouped dataframe and create separate dataframe
#for name, group in df_grouped:
#    print(name)
 #   print(group)

           category         launched_at  \
year month
2022 12      Comedy 2022-12-09 02:52:44
     12      Comedy 2022-12-08 10:32:36
     12      Comedy 2022-12-07 22:07:37
     12      Comedy 2022-12-06 13:59:22
     12      Comedy 2022-12-03 02:49:41
...             ...                 ...
2020 3      Graphic 2020-03-13 18:11:29
     3      Graphic 2020-03-12 22:49:03
     3      Graphic 2020-03-11 13:30:03
     3      Graphic 2020-03-11 00:00:03
     3      Graphic 2020-03-10 21:55:31

                                                        name       state
year month
2022 12            Driving School Stories of Celebrity Teens      failed
     12                 Crime Squad 3D Blu-ray - REMASTER3D!        live
     12                          Help Us Get To Los Angeles!        live
     12                                               SECRET        live
     12                                    PINK (Short Film)        live
...                                                      ...         ...
2020 3                                             Fairy Boy  successful
     3      Crucifix Executioner : The Epic 1hr Motion Comic  successful
     3                              Ghost of the Gulag Vol.2  successful
     3                              You're Stuck With Me Now  successful
     3                                  Dino Beasts - book 2  successful

[7990 rows x 4 columns]

In [23]:
df['launched_at'] = pd.to_datetime(df['launched_at'], unit='s')

df

           category         launched_at  \
year month
2022 12      Comedy 2022-12-09 02:52:44
     12      Comedy 2022-12-08 10:32:36
     12      Comedy 2022-12-07 22:07:37
     12      Comedy 2022-12-06 13:59:22
     12      Comedy 2022-12-03 02:49:41
...             ...                 ...
2020 3      Graphic 2020-03-13 18:11:29
     3      Graphic 2020-03-12 22:49:03
     3      Graphic 2020-03-11 13:30:03
     3      Graphic 2020-03-11 00:00:03
     3      Graphic 2020-03-10 21:55:31

                                                        name       state
year month
2022 12            Driving School Stories of Celebrity Teens      failed
     12                 Crime Squad 3D Blu-ray - REMASTER3D!        live
     12                          Help Us Get To Los Angeles!        live
     12                                               SECRET        live
     12                                    PINK (Short Film)        live
...                                                      ...         ...
2020 3                                             Fairy Boy  successful
     3      Crucifix Executioner : The Epic 1hr Motion Comic  successful
     3                              Ghost of the Gulag Vol.2  successful
     3                              You're Stuck With Me Now  successful
     3                                  Dino Beasts - book 2  successful

[7990 rows x 4 columns]

In [24]:
# Create new columns 'month' and 'year' and assign the month and year of the date
df['month'] = df['launched_at'].dt.month
df['year'] = df['launched_at'].dt.year

#make indices again:
df.set_index(['year','month'], inplace=True)

df

           category         launched_at  \
year month
2022 12      Comedy 2022-12-09 02:52:44
     12      Comedy 2022-12-08 10:32:36
     12      Comedy 2022-12-07 22:07:37
     12      Comedy 2022-12-06 13:59:22
     12      Comedy 2022-12-03 02:49:41
...             ...                 ...
2020 3      Graphic 2020-03-13 18:11:29
     3      Graphic 2020-03-12 22:49:03
     3      Graphic 2020-03-11 13:30:03
     3      Graphic 2020-03-11 00:00:03
     3      Graphic 2020-03-10 21:55:31

                                                        name       state
year month
2022 12            Driving School Stories of Celebrity Teens      failed
     12                 Crime Squad 3D Blu-ray - REMASTER3D!        live
     12                          Help Us Get To Los Angeles!        live
     12                                               SECRET        live
     12                                    PINK (Short Film)        live
...                                                      ...         ...
2020 3                                             Fairy Boy  successful
     3      Crucifix Executioner : The Epic 1hr Motion Comic  successful
     3                              Ghost of the Gulag Vol.2  successful
     3                              You're Stuck With Me Now  successful
     3                                  Dino Beasts - book 2  successful

[7990 rows x 4 columns]

In [26]:
df.sort_index(inplace=True)
df.reset_index(level='month', inplace=True)
df.reset_index(level='year', inplace=True)
df

,year,month,category,launched_at,name,state
0,1970,1,Literary,1970-01-01 00:00:00,Lancement promotionnel de Félini Conti et ses ...,submitted
1,1970,1,Literary,1970-01-01 00:00:00,¡Create a publishing house for all kind of wri...,submitted
2,1970,1,Comedy,1970-01-01 00:00:00,Paperboy Movie Trailer,submitted
3,1970,1,Comedy,1970-01-01 00:00:00,Happy Birthday Divya Burnam: A Short Film,submitted
4,1970,1,Comedy,1970-01-01 00:00:00,Stair Rangers!,started
...,...,...,...,...,...,...
7985,2022,12,Graphic,2022-12-01 23:00:22,Diet by Ignacio Noé and published by Embassy P...,live
7986,2022,12,Graphic,2022-12-01 21:13:17,Infinity City - A Sci-Fi Western Comic,live
7987,2022,12,Graphic,2022-12-01 15:33:48,Darkest Rout: Book One | A Graphic Novel,live
7988,2022,12,Graphic,2022-12-01 14:21:06,Bug Fight Comic Page,live
7989,2022,12,Graphic,2022-12-14 19:59:03,MONSTERVERSE Omnibus,live

In [27]:
# Create a new column 'year_month' by concatenating the 'year' and 'month' columns
df['year_month'] = df['year'].astype(str) + '-' + df['month'].astype(str)

# If you want to keep the format of year-month-date
#df['year_month'] = pd.to_datetime(df[['year','month']].assign(day=1))

# drop the 'year' and 'month' columns
#df = df.drop(columns=['year', 'month'])

df.groupby('year_month')
df

,year,month,category,launched_at,name,state,year_month
0,1970,1,Literary,1970-01-01 00:00:00,Lancement promotionnel de Félini Conti et ses ...,submitted,1970-1
1,1970,1,Literary,1970-01-01 00:00:00,¡Create a publishing house for all kind of wri...,submitted,1970-1
2,1970,1,Comedy,1970-01-01 00:00:00,Paperboy Movie Trailer,submitted,1970-1
3,1970,1,Comedy,1970-01-01 00:00:00,Happy Birthday Divya Burnam: A Short Film,submitted,1970-1
4,1970,1,Comedy,1970-01-01 00:00:00,Stair Rangers!,started,1970-1
...,...,...,...,...,...,...,...
7985,2022,12,Graphic,2022-12-01 23:00:22,Diet by Ignacio Noé and published by Embassy P...,live,2022-12
7986,2022,12,Graphic,2022-12-01 21:13:17,Infinity City - A Sci-Fi Western Comic,live,2022-12
7987,2022,12,Graphic,2022-12-01 15:33:48,Darkest Rout: Book One | A Graphic Novel,live,2022-12
7988,2022,12,Graphic,2022-12-01 14:21:06,Bug Fight Comic Page,live,2022-12
7989,2022,12,Graphic,2022-12-14 19:59:03,MONSTERVERSE Omnibus,live,2022-12

In [28]:
# Create a new DataFrame to store the results
results_df = pd.DataFrame(columns=['date','percentage_successful'])

months = df['year_month'].unique()

results_list = []

for month in months:
    total_cases = 0
    successful_cases = 0
    for index, row in df.iterrows():
        if row['year_month'] == month:
            total_cases += 1
            if row['state'] == 'successful':
                successful_cases += 1
    percentage_successful = (successful_cases / total_cases) * 100
    data = [[month, percentage_successful]]
    dftemp = pd.DataFrame(data, columns=['date', 'percentage_successful'])
    results_list.append(dftemp)
#results_list    
# Append the results to the new DataFrame
results_df = pd.concat(results_list, ignore_index=True)

results_df

        date  percentage_successful
0     1970-1               0.000000
1     2009-9             100.000000
2    2009-12             100.000000
3     2010-4             100.000000
4     2010-5             100.000000
..       ...                    ...
140   2022-8              94.676806
141   2022-9              94.921875
142  2022-10              87.538941
143  2022-11              34.049080
144  2022-12               1.666667

[145 rows x 2 columns]